@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GowunDodum-Regular";
  font-weight: normal;
  src: url("./fonts/Paperlogy-7Bold.ttf") format("truetype");
}

body {
  font-family: "GowunDodum-Regular";
}
